.todoist {
    border: 1px $border-color solid;
    border-radius: 24px;
    background: $menu-box-background;
    padding: 8px;

    &__task {
        border-radius: 24px;
        background: $menu-box-background;
        min-width: 400px;
        padding: 6px 8px;

        &__checkbox {
            & label {
                padding-left: 1px;
            }

            font-size: 18px;
            padding: 0;
            min-width: 24px;
            min-height: 24px;
            margin-left: 4px;
            margin-top: 4px;
            border-radius: 100%;
            &:hover {
                border-radius: 100%;
                background: transparent;
            }

            &--unchecked {
                border: 2px $text-color solid;
                background: transparent;
                color: transparent;

                &:hover {
                    color: transparent;
                }
            }
            &--checked {
                border: 2px $border-color solid;
                color: $border-color;
                &:hover {
                    color: $border-color;
                }
            }
        }

        &__container {
            & spinner {
                min-height: 40px;
                min-width: 40px;
            }

            border-radius: 24px;
            background: $theme-box-background;
            padding: 10px;
        }
        &__content {
            color: $text-color;
            font-size: 18px;
            font-weight: 500;
        }
        &__due {
            &__calendarIcon {
                color: $fg-two;
            }
            &__refreshIcon {
                color: $border-color;
            }
            color: $border-color;
        }
        &__breadcrumbs {
            color: $text-color;

            &__hash {
                color: $fg-two;
            }
        }
    }

    &__control {
        border-radius: 24px;
        background: $clock-background;
        padding: 4px 8px;

        &__button {
            background: $menu-box-background;
            border-radius: 24px;

            min-width: 28px;
            font-size: 20px;
        }
    }
}
