.hardware-box label
    font-weight: 600
    
.BatteryWidget
    &__label
        color: $battery_color
        &--charging
            animation: colorChange 5s infinite
        
    &__icon
        color: $battery_color

.RamWidget
    &__values
        color: $ram_color

.CpuWidget
    &__values
        color: $cpu-color