.bar-bg {
    &--fullscreen {
        background-color: $bar-background;
    }
    min-height: 8px;
    border-radius: 0;
}
.bar {
    background: $bar-background;
    color: $bar-color;
    min-height: 8px;
    padding-left: 6px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 4px;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 6px;
}

.keyboardLayout {
    font-size: 20px;
    padding: 0 0 4px;
    margin-left: 8px;
    min-width: 28px;
    min-height: 0;
    font-weight: 700;
    background-color: transparent;
    box-shadow: unset;
    font-family: "Mulish";

    &:active {
        background-color: transparent;
    }
    &:hover {
        background-color: transparent;
        color: $btn-color;
        box-shadow: unset;
    }
}

$indicatorSize: 4px;

.taskbar {
    &__item {
        border-radius: 2px;
        padding: 2px 4px;
        min-width: 36px;
        background: transparent;

        &:hover {
            border-radius: 2px;
        }

        & image {
            font-size: 18px;
        }

        &__indicator {
            min-width: $indicatorSize;
            min-height: $indicatorSize;
            background: $fg-one;
            border-radius: 100%;

            &--focused {
                border-radius: 2px;
            }
        }

        &__number {
            font-size: 10px;
            color: transparentize($fg-one, 0.3);
            font-weight: 600;
            /* background: transparentize($fg-three, 0.65); */
            border-radius: 100%;
            font-family: monospace;
            padding: 0 4px;
        }
    }
}
