.bar-bg
    &--fullscreen
        background-color: $bar-background

    min-height: 8px 
    border-radius: 0 

.bar
    background: $bar-background 
    color: $bar-color 
    min-height: 8px 
    padding-left: 6px 
    padding-top: 0.2rem 
    padding-bottom: 0.2rem 
    margin-bottom: 4px 
    margin-left: 6px 
    margin-right: 6px 
    border-radius: 6px

