.calendar-menu
    padding: 10px 12px
    
    &__worldtime
        font-size: 14px
        opacity: 0.75
        font-family: "MesloLGS"

        &__time
            letter-spacing: 0.1em

        &__city
            letter-spacing: 0.05em

    &__clock
        color: $text-color
        
        &__time
            font-size: 22px
            font-weight: 600

        &__date
            // font-size: 14px
            font-weight: 600

    &__separator
        background: $clock-background
        min-height: 2px
        margin-top: 10px
        margin-bottom: 4px

    calendar 
        border: none
        background: $menu-box-background

.menu
    background: $menu-box-background
    opacity: 0.9
    border-radius: $border-radius
    border: $border-size solid $menu-box-borders
    transition-property: background
    transition-duration: 0.2s
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3)
